name: Release

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish to GPR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build-app

      - name: Semantic release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_MONOREPO_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
